/* Author: Irsa Bushati 
   Date: 4.07.2022 
   Project: Personal Website */

:root {
 --background : #1c1c1c;
 --pink: #f488d7;
 --hoverpink: #d9ced6;
 --purple: #5d33fc;
 --neon:#e3f844;
 --typewriterSpeed:3s;
}
@font-face {
	font-family: 'AlteHaasGroteskBold';
	src: url(fonts/Alte_Haas_Grotesk_Bold.ttf);
}
@font-face {
	font-family: 'StepsMonoThin';
	src: url(fonts/Steps-Mono-Thin.otf);
}
@font-face {
	font-family: 'StepsMono';
	src: url(fonts/Steps-Mono.otf);
}
html {
	scroll-behavior: smooth;
}
body {
    background-color: var(--background);
	min-width: 100%;
}
.row {
	padding: 110px;
}
#underline {
	text-decoration: underline;
	text-underline-offset: 4px;
}

/* Navigation bar */ 
nav {
    margin-top: 29px;
    margin-right: 50px;
	background-color: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: fixed; 
  	top: 0; 
  	width: 100%;
	z-index: 100000;
}
nav ul li {
	display: inline-block;
    margin-right:30px;
	font-family: 'AlteHaasGroteskBold', sans-serif;
}
nav ul li a {
	color:var(--pink);
	text-decoration:none;
	padding: 20px;
	font-size: 20px;
	text-decoration: underline;
	text-underline-offset: 4px;
}
nav ul li #contact-me {
	text-decoration: underline;
}
nav ul li a:hover {
	color:var(--hoverpink);
}

/* Sections */ 

section {
	height:100vh;
	scroll-snap-align: start;
	overflow-y: scroll;
	width: 100%;
	z-index: 1; 
}

.mydiv {
	scroll-snap-type: y mandatory;
	height:100vh;
	width: 100%;
}

/* Section one */
.one {
	background-color: var(--background);
}
.one .tags {
	margin-top: 50px;
}
.one #one-one , #one-two , #one-three , #two-one , #two-two , 
#two-three , #three-one , #three-two , #three-three , #three-four , #three-five {
	display:inline-block;
	font-family:'AlteHaasGroteskBold', sans-serif;
	font-size: 22px; 
	margin-right: 10px;
}
/* Symbol tags */
#one-one , #three-two , #three-five{
	background-color: white;
	border-radius: 50%;
	padding: 1px 11px 1px 11px;
}
/* "@student" tag */
#two-two {
	background-color: white;
	border-radius: 20px;
	padding: 1px 15px 1px 15px;
}
/* pink background color tags */
#one-three , #three-one {
	background-color: var(--pink);
	border-radius: 20px;
	padding: 1px 15px 1px 15px;
}

/* neon background color tags */
#one-two,  #two-three , #three-three{
	background-color: var(--neon);
	border-radius: 20px;
	padding: 1px 15px 1px 15px;
}

/* purple background color tags */
#two-one , #three-four {
	background-color: var(--purple);
	border-radius: 20px;
	padding: 1px 15px 1px 15px;	
}

.three {
	background-color: var(--neon);
}
.three .desc {
	text-align: justify;
}
.four {
	background-color: var(--purple);
}

/* Header */

header h1 {
	margin-top: 150px;
	font-family: 'StepsMono', sans-serif;
	color: var(--neon);
	font-size: 70px;
}

header h2 {
	font-family:'AlteHaasGroteskBold', sans-serif;
	color: var(--neon);
	font-size: 20px;
}


/* Header 1  - Animation */
/*
header h1::before,
header h1::after{
	content: "";
	position: absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
}
header h1::before{
	background: var(--background);
	animation: typewriter var(--typewriterSpeed) steps(27) forwards; 
}
header h1::after{
	width: 0.125em;
	height:100px;
	background: var(--neon);
	animation: typewriter var(--typewriterSpeed) steps(27) forwards,
	blink 1s steps(27) infinite;
}
@keyframes typewriter {
	to {
		left:80%;
	}
}
@keyframes blink {
	to {
		background: transparent;
	}
}
*/
/* Section About */

.number {
	font-size: 90px;
	font-family: 'AlteHaasGroteskBold', sans-serif;
	-webkit-text-fill-color: transparent;
  	-webkit-text-stroke: 4px;
	display:inline-block;
}
.headline {
	display:inline-block;
	margin-left:40px;
}

#profile {
	/*border-radius: 50%;*/
	width: 500px;
	height: 350px;
	margin-left:90px;
	/*border: 4px solid var(--background);
	border-spacing: 15px;*/
}

