/* Author: Irsa Bushati 
   Date: 4.07.2022 
   Project: Personal Website */

:root {
 --background : #1c1c1c;
 --pink: #f488d7;
 --hoverpink: #d9ced6;
 --purple: #5d33fc;
 --neon:#e3f844;
 --typewriterSpeed:3s;
}
@font-face {
	font-family: 'AlteHaasGroteskBold';
	src: url(fonts/Alte_Haas_Grotesk_Bold.ttf);
}
@font-face {
	font-family: 'StepsMonoThin';
	src: url(fonts/Steps-Mono-Thin.otf);
}
@font-face {
	font-family: 'StepsMono';
	src: url(fonts/Steps-Mono.otf);
}
html {
	scroll-behavior: smooth;
}
body {
    background-color: var(--background);
	min-width: 100%;
}
#underline {
	text-decoration: underline;
	text-underline-offset: 4px;
}

/* Navigation bar */ 
nav {
    margin-top: 29px;
    margin-right: 50px;
	background-color: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: fixed; 
  	top: 0; 
  	width: 100%;
	z-index: 100000;
}
nav ul li {
	display: inline-block;
    margin-right:30px;
	font-family: 'AlteHaasGroteskBold', sans-serif;
}
nav ul li a {
	color:var(--pink);
	text-decoration:none;
	padding: 20px;
	font-size: 20px;
	text-decoration: underline;
	text-underline-offset: 4px;
}
nav ul li #contact-me {
	text-decoration: underline;
}
nav ul li a:hover {
	color:var(--hoverpink);
}

/* Sections */ 

section {
	height:100vh;
	scroll-snap-align: start;
	overflow-y: scroll;
	min-width: none;
}
.mydiv {
	scroll-snap-type: y mandatory;
	height:100vh;
	min-width: 100%;
}
/* Section one */

.one {
	background-color: var(--background);
}
.one .tags {
	margin-top: 50px;
}
.one #links a {
	color:gray;
	text-decoration: none;
}
.one #links {
	font-family: 'StepsMono', sans-serif;
	font-size: 20px; 
	color:gray;
}
.one #one-one , #one-two , #one-three , #two-one , #two-two , 
#two-three , #three-one , #three-two , #three-three , #three-four , #three-five {
	display:inline-block;
	font-family:'AlteHaasGroteskBold', sans-serif;
	font-size: 22px; 
	margin-right: 10px;
}

/* Symbol tags */
#one-one , #three-five{
	background-color: white;
	border-radius: 50%;
	padding: 1px 9px 1px 9px;
	animation-name: spin;
	animation-duration: 3000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear; 
}

@keyframes spin {
    50% {
        transform:rotate(-90deg);
    }
}

#three-two {
	background-color: white;
	border-radius: 50%;
	padding: 1px 9px 1px 9px;
	animation: color-change-heart 7s infinite;
}
@keyframes color-change-heart {
	50% { 
		color: var(--pink);
	}
}

/* "@student" tag */
#two-two {
	background-color: white;
	border-radius: 20px;
	padding: 1px 15px 1px 15px;
}
/* pink background color tags */
#one-three , #three-one {
	background-color: var(--pink);
	border-radius: 20px;
	padding: 1px 15px 1px 15px;
	animation: color-change-1 7s infinite;
}
@keyframes color-change-1 {
	50% { 
		background-color: var(--purple);
	}
}

/* neon background color tags */
#one-two,  #two-three , #three-three{
	background-color: var(--neon);
	border-radius: 20px;
	padding: 1px 15px 1px 15px;
	animation: color-change-2 7s infinite;
}
@keyframes color-change-2 {
	50% { 
		color: var(--neon);
		background-color: var(--background);
	}
}

/* purple background color tags */
#two-one , #three-four {
	background-color: var(--purple);
	border-radius: 20px;
	padding: 1px 15px 1px 15px;	
	animation: color-change-3 7s infinite;
}
@keyframes color-change-3 {
	50% { 
		background-color: var(--pink);
	}
}

.two {
	background-color: var(--neon);
}

.two .desc {
	text-align: justify;

	
}
.three {
	background-color: var(--purple);
}

/* Header */

header h1 {
	margin-top: 150px;
	font-family: 'StepsMono', sans-serif;
	color: var(--neon);
	font-size: 70px;

}

header h2 {
	font-family:'AlteHaasGroteskBold', sans-serif;
	color: var(--neon);
	font-size: 20px;
}


/* Section About */

.number {
	font-size: 90px;
	font-family: 'AlteHaasGroteskBold', sans-serif;
	-webkit-text-fill-color: transparent;
  	-webkit-text-stroke: 4px;
	display:inline-block;
}
.headline {
	display:inline-block;
	margin-left:40px;
}

#profile {
	max-width: 100%;
	height: auto;
	margin-top: 4%;
}

/* Section Portfolio */
.three .portfolio-posts {
	width: 400px;
	height: 400px;
	background-color: white;
	border: 2px solid var(--background);
	border-radius: 5px;
	margin: auto;
	margin-top:40px;
	padding: 5px;
}
.three .portfolio-posts img {
	width: 100%;
	margin:0;
	height:65%;
}
.three .portfolio-posts p {
	font-size: 25px;
	text-align: center;
	margin-top: 30px;
	padding: 10px;
	font-family: 'AlteHaasGroteskBold', sans-serif; 
	line-height: normal;
}

